@import url("sections/base.css");
@import url("sections/footer.css");
@import url("sections/header.css");
@import url("sections/games.css");
@import url("sections/oczko.css");



:root {
    --primary-color: #af63cd;
    --sec-color: #c97fb9;

    --background-color: #58114f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 78px); 
}


a {
  text-decoration: none;
  color: inherit;
}


/* zmien kolor potem */
a:hover {
    color: #4035a1;
}

