.base {
    display: flex;
    max-height: calc(100vh-74px);
}

.base__nav {
    display: flex;
    flex: 1;
}

/* główna sekcja w 2 częściach */
.base__base {
    width: 100%;
    display: flex;
}


/* kolumna lewa */
.base__base-overlay {
    width: 100%;
    padding: 20px;
    background: var(--sec-color);
}

/* kolumna prawa */
.base__base-side {
    width: 9px;
    background: var(--primary-color);
    height: 100%;
}


.comment-form {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.comment-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.comment-form .error {
    border-color: red;
}

.comment-form button {
    padding: 8px;
    background-color: var(--background-color);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}


.paginacja {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.paginacja a {
    color: #051d6c;
    padding: 5px 10px;
    font-weight: 600;
}

.paginacja .num {
    color: #555;
}



/* dodatkowa sekcja po prawej */
.base__side {
    float: right;
    width: 30%;
    background: var(--sec-color);
    padding: 20px;
}

.base__side h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.base__side p {
    font-family: 'Courier New', Courier, monospace;
}


/* zmienic potem wyglad */
.calendar {
    padding: 40px;
}

.calendar h3 {
    font-family: 'Courier New', Courier, monospace;
}

.calendar p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

