.game__nav {
    width: 90%;
    height: calc(100vh - 74px);
    margin: 40px auto;
    padding: 20px;
    border: 4px solid #430909;
    border-radius: 10px;
    background: #965757;
}

.game__header {
    padding: 10px;
    border: 2px solid #430909;
    border-radius: 5px;
    text-align: center;
}

.game__header h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.game__cards {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.game__pcards {
    float: left;
    width: 50%;
    margin-right: 2px;
    padding: 20px;
    border: 2px solid #430909;
}

.game__kcards {
    float: right;
    width: 50%;
    margin-left: 2px;
    padding: 20px;
    border: 2px solid #430909;
}

.game__buttons {
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.game__buttons button {
    padding: 12px 28px;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

    border-radius: 3px;
    border: 2px solid #430909;
    background: #c86966;
    color: #430909;

}

.game__buttons button :hover {
    background-color: aqua;
}