.footer {
  width: 100%;
  padding: 20px 40px;
  background: var(--color-white);

  flex-wrap: wrap;
  gap: 20px;
}

.footer__base {
    clear: both;
    background: var(--background-color);
}