.games__nav {
    width: 90%;
    height: calc(100vh - 74px);
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #103004;
    border-radius: 10px;
    background: #57965a;
}

.games__header {
    padding: 20px;
    border: 2px solid #103004;
    background: #71ad73;
    margin-bottom: 30px;
    text-align: center;
}

.games__header h1 {
    font-size: 52px;
    font-weight: 500;
}

.games__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

 .game__card {
    display: block;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;
    background: #a1ceb2;
}

.game__card:hover {
    transform: translateY(-5px);
}

.game__card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
}

.game__name {
    background: #8aca90;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
    border-top: 2px solid #103004;
} 

.games__bottom {
    margin-top: 50px;
    text-align: center;
}

.games__bottom h4 {
    font-size: 40px;
    font-weight: 300;
}

.games__bottom button {
    margin-top: 10px;
    width: 200px;
    height: 80px;
    font-weight: 200;
    font-size: 30px;
    border-radius:20%;
    background-color: #a1ceb2;
    
}