.header__nav {
    display: flex;
    overflow: hidden;
}

.header__name {
    flex: 1;
    display: flex;
    position: relative;
    background: var(--primary-color);
    align-items: center;
    
}

.header__name img {
    width: 80px;          
    height: 80px;
    box-shadow: 0 0 30px rgba(60, 15, 184, 0.25);
    object-fit: contain;
    margin-right: 15px;   

}

.header__name h1{
    position: relative;
    padding: 25px;
    font-weight: 400;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace; 
 
}
    



.header__menu, .header__menu ul li.admin__link,
.header__menu li {
   font-size: 25px;
   font-weight: 500;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   display: inline-block;
   line-height: 20px;
   padding: 20px;
   align-items: center;
   justify-content: center;
   
}

